<template>
    <div class="container">

            <div class="row mt-3" v-if="this.$gate.isAdminOrAuthor()">
                <div class="col-12" >
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Users</h3>

                            <div class="card-tools">
                                <button class="btn btn-success" @click="addUserModal"><i class="fa fa-user-plus fa-fw"></i> Add User </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <tbody><tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Registered At</th>
                                    <th>Modify</th>
                                </tr>
                                <tr v-for="user in users" :key="user.id">
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.type | upText}}</td>
                                    <td>{{user.created_at | myDate}}</td>
                                    <td>
                                        <a href="#" @click="editUserModal(user)">
                                            <i class="fa fa-edit text-blue mr-1"></i>
                                        </a>
                                        <a href="#" @click="deleteUser(user.id)">
                                            <i class="fa fa-trash text-red"></i>
                                        </a>
                                    </td>
                                </tr>


                                </tbody></table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        <div class="row justify-content-center" v-else>
            <not-found></not-found>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editMode" id="addNewLabel">Add New User</h5>
                        <h5 class="modal-title" v-show="editMode" id="editUserLabel">Update User Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                        <form @submit.prevent="editMode ? updateUser() : createUser()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input v-model="form.name" type="text" name="name"
                                           placeholder="Name"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                    <has-error :form="form" field="name"></has-error>
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input v-model="form.email" type="email" name="email"
                                           placeholder="Email"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                    <has-error :form="form" field="email"></has-error>
                                </div>
                                <div class="form-group">
                                    <label>Bio</label>
                                    <textarea v-model="form.bio" type="text" name="bio"
                                              placeholder="Short Bio of User (Optional)"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                                    <has-error :form="form" field="bio"></has-error>
                                </div>
                                <div class="form-group">
                                    <label for="type">Role</label>
                                    <select name="type" id="type" v-model="form.type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                                        <option value="">Select User Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="user">Standard User</option>
                                        <option value="author">Author</option>
                                    </select>
                                    <has-error :form="form" field="type"></has-error>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input v-model="form.password" type="password" name="password"
                                           placeholder="Password"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                    <has-error :form="form" field="password"></has-error>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="Submit" class="btn btn-primary" v-show="!editMode">Create</button>
                                <button type="Submit" class="btn btn-success" v-show="editMode">Update</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return{
                users:{},
                editMode : false,
                form: new Form({
                    id : '',
                    name : '',
                    email : '',
                    password : '',
                    type : '',
                    bio : '',
                    photo: ''
                })
            }
        },
        methods:{
            editUserModal(user){
                this.editMode=true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            addUserModal(){
                this.editMode=false;
                this.form.reset();
                $('#addNew').modal('show');
            },

            deleteUser(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if(result.value){
                        //send request to server
                        this.form.delete('api/user/'+id).then(()=>{
                            swal.fire(
                                'Deleted!',
                                'User has been deleted.',
                                'success'
                            )
                            Fire.$emit('refreshTable');
                        }).catch(()=>{
                            swal.fire(
                                'Failed!',
                                'There has some error.',
                                'warning')
                        });
                    }


                });
            },
            loadUsers(){
                if(this.$gate.isAdminOrAuthor()){
                    axios.get('api/user').then(({ data })=>(this.users = data.data));
                }
                else {
                    console.log("unauthorize access");
                }
            },
            updateUser(){
                this.$Progress.start();
                this.form.put('api/user/'+this.form.id)
                    .then(()=>{
                        Fire.$emit('refreshTable');
                        swal.fire(
                            'Updated!',
                            'User has been Updated Successfully.',
                            'success'
                        )
                        $('#addNew').modal('hide');
                        this.$Progress.finish();
                    })
                    .catch(()=>{
                        this.$Progress.fail();
                        swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: 'unable to perform the action!',
                            footer: 'you might not have the permission to perform this'
                        })
                    })
            },
            createUser(){
                this.$Progress.start();
                this.form.post('api/user')
                    .then(()=>{
                        Fire.$emit('refreshTable');
                        $('#addNew').modal('hide');
                        toast.fire({
                            type: 'success',
                            title: 'User Created successfully'
                        });
                        this.$Progress.finish();
                    }).catch(()=>{
                        toast.fire({
                            type: 'error',
                            title: 'User Failed to Create'
                        });
                    })
            }
        },
        created() {
            this.loadUsers();
            //Fire lisens for the event name AfterCreate and when event is trigerred it calls this.loadUsers() method
            Fire.$on('refreshTable', ()=>{
                this.loadUsers();
            });
        }
    }
</script>
